<h4>Base font</h4>
<p><code>$font-family-sans-serif</code>: sans-serif native font stack </p>
<p>
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
</p>
<p>
  This is some sample text used to show the base font.
</p>
<h4>Monospace font</h4>
<p><code>$font-family-monospace</code>: Used in &lt;code&gt;, &lt;samp&gt; and &lt;pre&gt;</p>
<p>SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;</p>
<pre>
  This is some sample text used to show the monospace font.
</pre>
